# Predict Next Play

In [20]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
raw_data_set = pd.read_csv("../resources/plays.csv")

In [3]:
raw_data_set.head(5)

   _00  _01  _02  _10  _11  _12  _20  _21  _22 play  result
0    1    1    0    0    0    0    0    0    0  _01  WINNER
1    1    1    1    1    0    0    0    0    0  _02  WINNER
2    1    1    0    0    0    0    0    0    0  _01   LOSER
3    1    1    1    1    0    0    0    0    0  _02   LOSER
4    1    0    0    0    1    0    0    0    0  _00   LOSER

In [4]:
raw_data_set.describe()

,_00,_01,_02,_10,_11,_12,_20,_21,_22
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,0.631579,0.578947,0.631579,0.526316,0.631579,0.526316,0.210526,0.157895,0.421053
std,0.488852,0.500355,0.488852,0.506009,0.488852,0.506009,0.413155,0.369537,0.500355
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
winners = raw_data_set.drop(raw_data_set[raw_data_set['result'] != "WINNER"].index)
winners = winners.drop("result", axis=1)
winners.head()

   _00  _01  _02  _10  _11  _12  _20  _21  _22 play
0    1    1    0    0    0    0    0    0    0  _01
1    1    1    1    1    0    0    0    0    0  _02
7    1    0    0    0    1    0    0    0    0  _00
8    1    0    1    0    1    0    1    0    0  _20
9    1    1    1    1    1    0    1    0    0  _10

In [6]:
X = winners.drop("play", axis=1)
X.head()

   _00  _01  _02  _10  _11  _12  _20  _21  _22
0    1    1    0    0    0    0    0    0    0
1    1    1    1    1    0    0    0    0    0
7    1    0    0    0    1    0    0    0    0
8    1    0    1    0    1    0    1    0    0
9    1    1    1    1    1    0    1    0    0

In [9]:
Y = winners["play"]
categories = Y.astype('category')

Y = categories.cat.codes
categories = categories.unique()
y.head()

0    1
1    2
7    0
8    5
9    3
dtype: int8

In [10]:
clf = DecisionTreeClassifier()
clf.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [19]:
prediction = clf.predict_proba([[1,1,0,0,0,0,0,0,0]])[0]
# categories[prediction]
prediction

array([0., 1., 0., 0., 0., 0., 0.])

In [21]:
categories

[_01, _02, _00, _20, _10, _12, _22]
Categories (7, object): [_01, _02, _00, _20, _10, _12, _22]